<div>
    <!--{{products}}-->
</div>
<div class="homebg_1">
    <!--{{products}}-->
</div>
<div class="main-content">
    <div class="popup" style="background-color: #fde9e5;">
        <p style="color: #333333;">FREE SHIPPING WORLDWIDE</p>
    </div>
    <section class="home--products">
        <div class="wrapper">
            <h2>Our Most<br>Popular Watches</h2>
        </div>
        <section class="home-prod">
            <div ng-repeat="product in products" class="productsize">
                <a href="/product/:id"> <img class="prod_image" ng-src="{{product.imageurl}}" alt=""></a>
                <br> {{product.name}} <br> {{product.price}}
            </div>
        </section>
        <div class="btn-center">
            <div class="all-watches-button" type="all watches">ALL WATCHES</div>
        </div>
    </section>
</div>
<!--FELIZ-->
<section class="home--collections" ng-click="">
    <div class="feliz-bg"></div>
    <!--<div>
            <img src='//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_1_image.jpg?7955300992394463818' alt="" class="home--collections1">
        </div>-->
    <div class="collection_inner">
        <h2>FELIZ</h2>
        <div class="home--collection_button">
            <h2>VIEW COLLECTION</h2>
        </div>
    </div>
    <!--PEARL-->
    <div class="pearl-bg">
        <!--<img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_2_image.jpg?7955300992394463818" class="home--collections1">-->
    </div>
    <div class="collection_inner">
        <h2>Pearl</h2>
        <div class="home--collection_button">
            <h2>VIEW COLLECTION</h2>
        </div>
    </div>
    <!--Journey-->
    <div class="home--journey">
        <!--<img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_blog_image.jpg?7955300992394463818" class="home--journey_img" alt="">-->
        <div class="home--journey_content">
            <h1>Join Us On Our</h1>
            <h2 class="home--journey_caption">Journey</h2>
            <div class="home--journey_button">
                <h2>Journey</h2>
            </div>
        </div>
    </div>
        <!--Marina-->
        <div class="marina-bg"></div>
        <div class="collection_inner">
            <h2>Marina</h2>
            <div class="home--collection_button">
                <h2>VIEW COLLECTION</h2>
            </div>
        </div>
        <div class="straps-bg"></div>
        <div class="collection_inner">
            <h2>Straps</h2>
            <div class="home--collection_button">
                <h2>VIEW COLLECTION</h2>
            </div>
        </div>
</section>
<section class="home--about">
    <h2>PREMIUM MATERIAL & AUTHENTIC CRAFTSMANSHIP</h2>
    <h3>At Paul Valentine we work with one of the leading watch suppliers in the industry to ensure quality is at the heart of every watch. We use locally sourced Italian genuine leather and combine it with hand-finished metals to deliver premium detailing and durability.</h3>
<div class="home--about_btn"> <h2>About Us</h2> </div>
</section>
<div class="home--instagram">
    <div class="home--instagram_content">
    <div class="home--insta_icon1">
        <img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/instagram--white.png?7955300992394463818">
    </div>
    <h2>Shop instagram</h2>
    </div>
</div>

<section class="home--insta_photos">
    <img src="././imagefiles/ig1.jpg" alt="" class="insta-img">
    <img src="././imagefiles/ig2.jpg" alt="" class="insta-img">
    <img src="././imagefiles/ig3.jpg" alt="" class="insta-img">
    <img src="././imagefiles/ig4.jpg" alt="" class="insta-img">
    <img src="././imagefiles/ig5.jpg" alt="" class="insta-img">
    <img src="././imagefiles/ig6.jpg" alt="" class="insta-img">
    <img src="././imagefiles/ig7.jpg" alt="" class="insta-img">
    <img src="././imagefiles/ig8.jpg" alt="" class="insta-img">
    
</section>

<section class="home--email">
    <img src="//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/icon-newsletter.png?7955300992394463818" class="email_png"> 
    <h3>want some inbox love?</h3>
    <div class="email_wrap">
        <input type="email" name="Email Address" value="Email Address" class="input_box">
        <div class="home--submit_btn"><h2>Submit</h2></div>
    </div>
</section>