<section ng-controller="navCtrl">
    <!--<animations-directive animate='animate'></animations-directive>-->
    <header class="site-header">
        <div class="ham">
            <div class="header--ham"></div>
            <div class="header--ham"></div>
            <div class="header--ham"></div>
        </div>
        <!--<div class="hamburger hamburger--collapse">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div>-->
        <a ng-click="home()">
            <div class="site-header__logo " id="header"></div>
        </a>
        <!--<h2 class="site-server_h2">Paul Valentine</h2>-->
        
        <div class="header--cart" ng-click="showmeFn()"></div>
        
    </header>
    <div class="header-expand">
        paul valentine
        <h2>watches</h2>
        <h2>straps</h2>
        <h2>Shop Instagram</h2>
        <h2>brand</h2>
        <h2>customer care</h2>
        <div class="social"></div>
    </div>
    <div class="header-overlay"></div>
</section>