<div class="product--nav">
  <h2>Overview</h2>
  <h2>Details</h2>
  <h2>Inspiration</h2>
  <h2>straps</h2>
</div>


<div class="product--bg">
  <div style="background-image: url('{{product.backgroundurl}}')" class="product--bg_img">
      <img ng-src="{{product.imageurl}}" alt="" class="product--img">
      <div class="product--right_scroll">
      <div class="right_scroll1">
        <h2>{{product.name}}</h2>
        <button class="product--add_cart" ng-click="showmeFn(); addCart(product)" ><h1>Add To Bag - $ {{product.price}}</h1></button>
        <h3>send gift hint</h3>
    </div>
    <div class="prod_description">
      <!--{{product.collection}}-->
      <!--<div class="space"></div>-->
      <!--{{product.description}}
      {{product.spec}}
      {{product.ship}}-->
      <h2>Description</h2> <h2> Specifications</h2> <h2>Shipping/Returns</h2>
    </div>
</div>
  </div>
</div>



<div class="product--straps"></div>