@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    display: block;
    font-family: "AvenirLTStd-Light", "HelveticaNeue", "Helvetica Neue", 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 0.5em;
    line-height: 1.4;
    font-weight: 100;
    text-transform: uppercase;
    color: #333;
}


/*
 __  .__   __.  _______   __________   ___ 
|  | |  \ |  | |       \ |   ____\  \ /  / 
|  | |   \|  | |  .--.  ||  |__   \  V  /  
|  | |  . `  | |  |  |  ||   __|   >   <   
|  | |  |\   | |  '--'  ||  |____ /  .  \  
|__| |__| \__| |_______/ |_______/__/ \__\ 
                                           
*/
/*.mobile_nav {

}*/


.footer {
height: 60vh;
background-color: #FEE9E5;
    text-align: center;
    padding-top: 5vh;
}

.index--social_media{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}






 /*
  __    __    ______   .___  ___.  _______    
|  |  |  |  /  __  \  |   \/   | |   ____|   
|  |__|  | |  |  |  | |  \  /  | |  |__      
|   __   | |  |  |  | |  |\/|  | |   __|     
|  |  |  | |  `--'  | |  |  |  | |  |____    
|__|  |__|  \______/  |__|  |__| |_______|   
                                             
 
                             */
.homebg_1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/hero_image_1.jpg?285845556141198520);
    background-position: center;
}

.popup {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #333;
    color: #fff;
    /*padding-left: 100px;*/
    text-align: center;
    z-index: 99;
    width: 100%;
    transition: all 0.5s;
}

p {
    display: block;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.main-content {
    /*display: flex;*/
    background: #f3f3f5;
    /*margin-bottom: 435px;*/
    position: relative;
    z-index: 9;
    /*height: 100vh;*/
}

/*home--products {
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

home--products h2 {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
}*/

.wrapper {
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}

.home-prod {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    text-align: center;
}

.prod_image {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.all-watches-button {
    /* display: flex; */
    display: inline-block;
    background-color: #333333;
    /* justify-content: center; */
    color: white;
    height: 40px;
    width: auto;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "AvenirLTStd-Black";
    /* vertical-align: middle; */
    padding: 0px 20px;
    border-radius: 3px;
    padding-top: 13px;
    font-family: "AvenirLTStd-Light", "HelveticaNeue", "Helvetica Neue", 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    margin-bottom: 90px;
}

.productsize {
    width: 47%;
}

.home--collections {
    background: #f9f9f9;
    border-top: 1px solid #ebebeb;
    padding: 25px 0px 0px 35px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.home--collections1 {
    top: 0;
    /*transition: background 0.5s;*/
    width: 90%;
    height: 300px;
    /*background-size: cover;*/
    /*transition: transform 0.8s;*/
    background-position: center;
    background-repeat: no-repeat;
    /*margin: 25px 25px 25px 25px;*/
    /*display: flex;
     justify-content: center;*/
    background: #fff;
    border: 1px solid #ebebeb;
}

.collection_inner {
    width: 90%;
    bottom: 0px;
    position: relative;
    background: #fff;
    text-align: center;
    border: 1px solid #ebebeb;
    border-top: 0px;
    margin-top: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 18px;
    margin-bottom: 25px;
}

.collection_inner h2 {
    font-size: 24px;
    line-height: 17px;
    color: #333333;
    font-family: "HelveticaNeue", 100;
    letter-spacing: 1.5px;
    padding-top: 10px;
}

.home--collection_button {
    width: 164px;
    height: 36px;
    background-color: #FFDCD3;
    padding: 0px 20px;
    border-radius: 3px;
}

.home--collection_button h2 {
    font-family: "AvenirLTStd-Light", "HelveticaNeue", "Helvetica Neue", 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    color: #FFFCFB;
    text-align: center;
    font-size: 11px;
    /*vertical-align: middle;*/
}

.feliz-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_1_image.jpg?7955300992394463818');
    background-size: cover;
    width: 90%;
    height: 300px;
    background-position: center;
}

.pearl-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_2_image.jpg?7955300992394463818');
    background-size: cover;
    width: 90%;
    height: 300px;
    background-position: center;
}

.marina-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_3_image.jpg?7955300992394463818');
    background-size: cover;
    width: 90%;
    height: 300px;
    background-position: center;
}

.straps-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_4_image.jpg?7955300992394463818');
    background-size: cover;
    width: 90%;
    height: 300px;
    background-position: center;
}

.home--journey {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_blog_image.jpg?7955300992394463818');
    width: 90%;
    height: 90%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    margin-bottom: 25px;
    
}

.home--journey_content {
   
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home--journey h1{
color: white;
letter-spacing: 2px;
font-weight: 100;
}
.home--journey_caption{
    color: white;
    letter-spacing: 1px;
font-size: 40px;
}


/*.home--journey_img{
    width: 90%;

}*/


/*.home--journey_btn{

}*/
.home--journey_button {
    width: auto;
    height: 36px;
    background-color: #FFDCD3;
    padding: 0px 20px;
    border-radius: 3px;
    padding-top: 10px;
}

.home--journey_button h2 {
    font-family: "AvenirLTStd-Light", "HelveticaNeue", "Helvetica Neue", 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    color: #FFFCFB;
    text-align: center;
    font-size: 11px;
    /*vertical-align: middle;*/
}

.home--about{
    width: 100%;
    background-color: #f3f3f5;
    display: flex;
     /*justify-content: center;*/
    flex-direction: column;
    padding: 7%;
    text-align: center;
    align-items: center;  
    text-transform: inherit; 
    padding-bottom: 93px;

}
.home--about h2{
    font-size: 24px;
    letter-spacing: 1px;
    
}

.home--about h3 {
    font-size: 16px;
    letter-spacing: .7px;
    
}
.home--about_btn{
    margin-top: 20px;
    width: 117px;
    height: 36px;
    background-color: #333333;
    border-radius: 3px;
   justify-content: center;
    /*flex-direction: column;*/
    padding-top: 7px;
    text-transform: uppercase;
    
    
    

}

.home--about_btn h2{
color: white;
letter-spacing: 1px;
font-size: 12px;
}

.home--instagram {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/instagram.jpg?7955300992394463818');
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    /*margin-bottom: 25px;*/
    
}

.home--instagram_content {
   
    /*height: 80vh;*/
    /*position: absolute;*/
    /*margin-top: -50px;*/
    height: 55vh;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home--instagram h2{
color: white;
letter-spacing: 2px;
font-weight: 100;
font-size: 24px;
}

.home--insta_icon1{
    margin-bottom: 20px;
}

.home--insta_photos{
    width: 100%;
    /*height: auto;*/
    background-color: #f3f3f5;
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    padding: 2.8vw;
    
    
    

}

.insta-img{
   
   width: 42vw;
   height: 42vw;
   margin: 2.5vw;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    
    
    

}
/*
.insta-wrap{
    width: 40vw;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
   justify-content: space-around;
}*/

.home--email{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
    align-items: center;
    
}
.email_png{
    width: 22px;
    margin-bottom: 30px;
}

.input_box{
   border: .5px solid lightgrey;
   color: lightgrey;
    float: left;
    height: 47px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 3px;

    
   

}
.home--submit_btn{
      background-color: #333;
    height: 47px;
    border-radius: 3px;
    float: right;
    width: 96px;
    /*letter-spacing: 1px;
    text-align: center;
    padding-top: 12px;*/
    margin-left: -1px;
}

.home--submit_btn h2{
    color: white;
    
    letter-spacing: 1.4px;
    text-align: center;
    padding-top: 14px;
    font-size: 12px;
}
.email_wrap{
    display: flex;
    margin-top: 15px;
    margin-bottom: 62px;

}