@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    display: block;
    font-family: "AvenirLTStd-Light", "HelveticaNeue", "Helvetica Neue", 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 0.5em;
    line-height: 1.4;
    font-weight: 100;
    text-transform: uppercase;
    color: #333;
}


/*
 __  .__   __.  _______   __________   ___ 
|  | |  \ |  | |       \ |   ____\  \ /  / 
|  | |   \|  | |  .--.  ||  |__   \  V  /  
|  | |  . `  | |  |  |  ||   __|   >   <   
|  | |  |\   | |  '--'  ||  |____ /  .  \  
|__| |__| \__| |_______/ |_______/__/ \__\ 
                                           
*/
/*.mobile_nav {

}*/

header {
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    height: 100%;
    background: #fff;
    padding: 15px 0;
    transition: all ease 0.4s;
    border-right: 1px solid #ebebeb;
    margin:0 0 0 -100px;
}
.menushow {
   margin: 0;
    
}
/*.site-header {
    width: 100%;
    position: fixed;
    height: 8.5vh;
    top: 0;
    z-index: 999999;
    
    background: #fff;
    padding: 15px 0;
    transition: all 0.5s;
    border-bottom: 1px solid #ebebeb;
    display: none;*/
/*}*/
.site-header__logo {
     text-align: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    margin-top: 2px;
    background-image: url("//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/logo.png?285845556141198520");
    background-size: 36px auto;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat
}

.site-server_h2{
    position: fixed;
    top: 2.3vh;
    text-align: center;
    left: 36vw;
}
.ham{

width: 24px;
margin-top: 5px;
 margin-left: 20px;
 position: absolute;
left: 6px;
bottom: 48vh;

}

.header--ham {
    width: 100%;
    height: 1px;
    background: #000;
    display: block;
    transition: 0.3s;
    position: relative;
    transition: background 0.4s;
    margin: 7px;
   ;
}
.header--cart {
    width: 100%;
    height: 40px;
    background-image: url("//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/cart.png?285845556141198520");
    background-size: 25px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 6vh;
    color: #333;
    font-family: "AvenirLTStd-Black";
    text-align: center;
    padding-top: 21px;
    font-size: 10px
}


.footer {
height: 64vh;
background-color: #FEE9E5;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 4vh;
    padding-left: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.footer-clear{
    height: 64vh;
}

.footer h2 {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 2px;
    color: black;
}

.index--social_media{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 5vh;
}

.index--social_media {
    padding-top: 30px
}

.index--social_media a {
    width: 55px;
    height: 55px;
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
    border: 1px solid #eacac2;
    border-radius: 2px
}

.index--social_media a img {
    max-height: 23px;
    max-width: 23px
}





 /*
  __    __    ______   .___  ___.  _______    
|  |  |  |  /  __  \  |   \/   | |   ____|   
|  |__|  | |  |  |  | |  \  /  | |  |__      
|   __   | |  |  |  | |  |\/|  | |   __|     
|  |  |  | |  `--'  | |  |  |  | |  |____    
|__|  |__|  \______/  |__|  |__| |_______|   
                                             
 
                             */
div.homebg_1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/hero_image_1.jpg?285845556141198520);
    background-position: center;
}

.popup {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #333;
    color: #fff;
    /*padding-left: 100px;*/
    text-align: center;
    z-index: 99;
    width: 100%;
    transition: all 0.5s;
}

p {
    display: block;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


.experiment{
  
    transition: all ease .4s;
}

.home--products {
  background-color: #F3F3F5;
}

.home--products h2 {
    color: black;
}

.wrapper {
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}

.home-prod {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    text-align: center;
}

.prod_image {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
}


.btn-center {
    display: flex;
    justify-content: center;
}
/*.button_sliding_bg {
    color: #31302B;
    background: #FFF;
    padding: 12px 17px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #31302B;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
}*/

/*BUTTON CHANGE COLOR ON HOVER*/
.all-watches-button:hover {
    box-shadow: inset 0 100px 0 0 #FFDCD3;
    color: white;
}

.all-watches-button {
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	transition: all ease 0.8s;
    /* display: flex; */
    display: inline-block;
    background-color: #333333;
    /* justify-content: center; */
    color: white;
    height: 40px;
    width: auto;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "AvenirLTStd-Black";
    /* vertical-align: middle; */
    padding: 0px 20px;
    border-radius: 3px;
    padding-top: 13px;
    font-family: "AvenirLTStd-Light", "HelveticaNeue", "Helvetica Neue", 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    margin-bottom: 90px;
}



@media only screen and (max-width: 1000px){ 
   .productsize {
    width: 25%;
} 
}

.productsize {
    width: 25%;
} 

.collection_flex {
    width: 29%;
    
    height: 69vh;
}



.home--collections {
    background: #f9f9f9;
    border-top: 1px solid #ebebeb;
    /*padding: 25px 0px 0px 35px;*/
    /*width: 100%;s*/
    border-bottom: 1px solid #ebebeb;
    /*margin-bottom: 50px;*/
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px

    /*justify-content: space-around;*/
}





.feliz-bg_parent{
width: 105%;
height: 230px;
    margin-bottom: 25px;
    overflow: hidden;
    transition: all 2s;
}

.feliz-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_1_image.jpg?7955300992394463818');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all .8s;    
}
/*zoom in on hover*/
.feliz-bg_parent:hover .feliz-bg,
.feliz-bg_parent:focus .feliz-bg {
    transform: scale(1.2);
}

/*overlay color*/
.feliz-bg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  
}

.feliz-bg_parent:hover .feliz-bg:before,
.feliz-bg_parent:focus .feliz-bg:before {
  display: block;
}

/*.pearl-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_2_image.jpg?7955300992394463818');
    background-size: cover;
    width: 105%;
    height: 230px;
    background-position: center;
}*/

.pearl-bg_parent{
width: 105%;
height: 230px;
    margin-bottom: 25px;
    overflow: hidden;
    transition: all 2s;
}

.pearl-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_2_image.jpg?7955300992394463818');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all .8s;    
}
/*zoom in on hover*/
.pearl-bg_parent:hover .pearl-bg,
.pearl-bg_parent:focus .pearl-bg {
    transform: scale(1.2);
}

/*overlay color*/
.pearl-bg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  
}

.pearl-bg_parent:hover .pearl-bg:before,
.pearl-bg_parent:focus .pearl-bg:before {
  display: block;
}


/*.marina-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_3_image.jpg?7955300992394463818');
    background-size: cover;
   width: 105%;
    height: 230px;
    background-position: center;
    margin-bottom: 25px;    
    
}*/
.marina-bg_parent{
width: 105%;
height: 230px;
    margin-bottom: 25px;
    overflow: hidden;
    transition: all 2s;
}

.marina-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_3_image.jpg?7955300992394463818');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all .8s;    
}
/*zoom in on hover*/
.marina-bg_parent:hover .marina-bg,
.marina-bg_parent:focus .marina-bg {
    transform: scale(1.2);
}

/*overlay color*/
.marina-bg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  
}

.marina-bg_parent:hover .marina-bg:before,
.marina-bg_parent:focus .marina-bg:before {
  display: block;
}

/*.straps-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_4_image.jpg?7955300992394463818');
    background-size: cover;
   width: 105%;
    height: 230px;
    background-position: center;
}*/

.straps-bg_parent{
width: 105%;
height: 230px;
    margin-bottom: 25px;
    overflow: hidden;
    transition: all 2s;
}

.straps-bg {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_collection_4_image.jpg?7955300992394463818');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all .8s;    
}
/*zoom in on hover*/
.straps-bg_parent:hover .straps-bg,
.straps-bg_parent:focus .straps-bg {
    transform: scale(1.2);
}

/*overlay color*/
.straps-bg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  
}

.straps-bg_parent:hover .straps-bg:before,
.straps-bg_parent:focus .straps-bg:before {
  display: block;
}

/*.home--journey {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_blog_image.jpg?7955300992394463818');
    width:33%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
   
    margin-bottom: 25px;    
}*/
.home--journey_parent{
width: 33%;
height: 100%;
 margin-left: 35px;
    margin-right: 25px;
    /*margin-bottom: 25px;*/
    overflow: hidden;
    transition: all 2s;
}

.home--journey {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/home_blog_image.jpg?7955300992394463818');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all .8s;    
}
/*zoom in on hover*/

/*.home--journey_parent:hover .home--journey,
.home--journey_parent:focus .home--journey {
    transform: scale(1.2);
}*/

/*overlay color*/
.home--journey::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  
}

.home--journey_parent:hover .home--journey:before,
.home--journey_parent:focus .home--journey:before {
  display: block;
}

.collections-name{
    color: white;
    padding-top: 170px;
    padding-left: 35px;
    letter-spacing: 2px;
    font-size: 25px;
}

.home--journey_content {
   
    height: 69vh;
    /*margin-bottom: 30px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: .5px solid white;
    /*box-sizing: border-box;*/
}

.home--journey h1,h2{
color: white;
letter-spacing: 2px;
font-weight: 100;
}
.home--journey_caption{
    color: white;
    letter-spacing: 1px;
font-size: 40px;
}


/*.home--journey_img{
    width: 90%;

}*/


/*.home--journey_btn{

}*/
.home--journey_button:hover {
    box-shadow: inset 0 100px 0 0 #333333;
    color: white;
}


.home--journey_button {
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	transition: all ease 0.8s;
    width: auto;
    height: 36px;
    background-color: #FFDCD3;
    padding: 0px 20px;
    border-radius: 3px;
    padding-top: 10px;
}

.home--journey_button h2 {
    font-family: "AvenirLTStd-Light", "HelveticaNeue", "Helvetica Neue", 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    color: #FFFCFB;
    text-align: center;
    font-size: 11px;
    /*vertical-align: middle;*/
}

.home--about{
    width: 100%;
    background-color: #f3f3f5;
    display: flex;
     /*justify-content: center;*/
    flex-direction: column;
    padding: 7%;
    text-align: center;
    align-items: center;  
    text-transform: inherit; 
    padding-bottom: 93px;

}
.home--about h2{
    font-size: 24px;
    letter-spacing: 1px;
    color: black;
    
}

.home--about h3 {
    font-size: 16px;
    letter-spacing: .7px;
    
}

.home--about_btn:hover {
    box-shadow: inset 0 100px 0 0 #FFDCD3;
    color: white;
}



.home--about_btn{
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	transition: all ease 0.8s;
    margin-top: 20px;
    width: 117px;
    height: 36px;
    background-color: #333333;
    border-radius: 3px;
   justify-content: center;
    /*flex-direction: column;*/
    padding-top: 7px;
    text-transform: uppercase;
    
    
    

}

.insta_flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.home--about_btn h2{
color: white;
letter-spacing: 1px;
font-size: 12px;
padding-top: 3.2px;
}

.home--instagram {
    background-image: url('//cdn.shopify.com/s/files/1/1653/9561/t/3/assets/instagram.jpg?7955300992394463818');
    width: 33%;
    height: 90%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    /*margin-bottom: 25px;*/
    
}

.home--instagram_content {
   
    /*height: 80vh;*/
    /*position: absolute;*/
    /*margin-top: -50px;*/
    height: 30vw;;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home--instagram h2{
color: white;
letter-spacing: 2px;
font-weight: 100;
font-size: 24px;
}

.home--insta_icon1{
    margin-bottom: 20px;
}

.home--insta_photos{

    width: 33.5%;
    height: 30vw;
    /*height: auto;*/
    background-color: red;
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*padding: 2.8vw;*/
    
    
    

}

.insta-img{
   
   width: 50%;
   height: 50%;
   
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    
    
    

}
/*
.insta-wrap{
    width: 40vw;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
   justify-content: space-around;
}*/

.home--email{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
    align-items: center;
    background-color: white;
   
    
}
.email_png{
    width: 22px;
    margin-bottom: 30px;
}

.input_box{
   border: .5px solid lightgrey;
   color: lightgrey;
    float: left;
    height: 47px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 3px;

    
   

}

.home--submit_btn:hover {
    box-shadow: inset 0 100px 0 0 #FFDCD3;
    color: white;
}




.home--submit_btn{
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	transition: all ease 0.8s;
      background-color: #333;
    height: 47px;
    border-radius: 3px;
    float: right;
    width: 96px;
    /*letter-spacing: 1px;
    text-align: center;
    padding-top: 12px;*/
    margin-left: -1px;
}

.home--submit_btn h2{
    color: white;
    
    letter-spacing: 1.4px;
    text-align: center;
    padding-top: 14px;
    font-size: 12px;
}
.email_wrap{
    display: flex;
    margin-top: 15px;
    margin-bottom: 62px;

}

/*.______   .______        ______    _______   __    __    ______ .___________.
|   _  \  |   _  \      /  __  \  |       \ |  |  |  |  /      ||           |
|  |_)  | |  |_)  |    |  |  |  | |  .--.  ||  |  |  | |  ,----'`---|  |----`
|   ___/  |      /     |  |  |  | |  |  |  ||  |  |  | |  |         |  |     
|  |      |  |\  \----.|  `--'  | |  '--'  ||  `--'  | |  `----.    |  |     
| _|      | _| `._____| \______/  |_______/  \______/   \______|    |__| */

.product--nav{
    position: absolute;
    width: 100%;
    padding-left: 100px;
    height: 100px;
    background-color: white;
    top: 0;
    z-index: 10;
    color: black;
    display: flex;
    

}

.product--nav h2{
    color: black;
    padding: 4vw;
}

.product--bg_img{
    position: absolute;
     background-size: contain;
     background-repeat: no-repeat;
    background-position: center;
   left: 100px;
   right: 0px;
   
    /*margin-left: 100px;*/
    display: flex;


}



.product--bg{
    font-size: 16px;
    line-height: 1.6;
    font-family: "AvenirLTStd-Light","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999;
    background-color: #f4f4f6;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
        padding: 100px;
    text-align: center;
    height: 95vh;
    width: 100%;
    position: fixed;
    left: 0;
    padding-left: 200px;
    height: 100vh;
}
.product--img{
    margin-left: 17vw;
}
.space {
    height: 400px;
    
}

.product--right_scroll{
    margin: 50px;
overflow: scroll;
}

.product--add_cart{
    height: 40px;
    width: 215px;
    background-color: #333333;
    border-radius: 3px;
}